/* ******************HEADER SECTION*************** */
.first {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_img {
  width: 4rem;
  height: 4rem;
}
.logo__text {
  flex: 1;
}

.hover__nav:hover {
  color: var(--hover-color);
}
.container {
  background-color: var(--body-color);
  position: relative;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 3fr;
  /* background-color: rgb(87, 87, 178); */
  max-width: 110rem;
  margin: 0 auto;
  /* max-width: 120rem;
  margin: 0 auto; */
}
.header__logo__div {
  width: 10rem;
  height: 10rem;
}
.header__logo {
  width: 100%;
  height: 100%;
}
/* container 1 child */
.header {
  background-color: var(--primary-color);
  padding: 0.5rem;
  grid-column: 1/-1;
  height: 5rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2rem;
}

.nav__item {
  justify-items: center;
  flex: 1;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
}

.bookmarkTab {
  background-color: var(--bookmark-color);
  width: 22rem;
  position: absolute;
  right: 0;
  top: 5rem;
  z-index: 10;
}
/* PREVIEW RESULT/BOOKMARK SECTION */
.bookmarks__list {
  list-style-type: none;
}
.preview__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 0.5rem;
}
.preview__link:hover {
  background-color: var(--hover-color);
}
.preview__data {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.preview__fig {
  width: 4rem;
  height: 4rem;
  background-color: var(--body-color);
  border-radius: 5rem;
}
.preview {
  padding-bottom: 1rem;
  list-style-type: none;
}
.nav {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.search {
  position: relative;
}
.search__field {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 30rem;
  height: 3rem;
}

/* Focus effect */
.search__field:focus {
  outline: none;
  background-color: var(--body-color);
  border: 1rem thin var(--hover-color);
}

.search__btn {
  position: absolute;
  right: 0rem;
  border-radius: 0;
  padding: 0.5rem;
  width: 6rem;
  height: 3rem;
}

.btn__direction {
  border-radius: 0;
}

.nav__item:hover {
  color: var(--hover-color);
}

/* *********************SEARCH RESULTS SECTION**************** */
.search-results {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
  background-color: var(--secondary-color);
}
.results {
  flex: 1;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1; */
}

/*******************RECIPE VIEW SECTION***********************/
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.error,
.message,
.spinner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 5rem auto;
  height: 100vh;
}
.recipe__ingredient {
  display: flex;
  gap: 1rem;
}
.direction {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.recipe__img {
  width: 98%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

  /* Eye-friendly filter */
  filter: brightness(1.05) contrast(0.95) saturate(0.92) blur(0.3px);

  object-fit: cover;
  overflow: hidden;
}

.recipe__fig {
  height: 34rem;
}
.recipe__details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px #0000004a;
}
.recipe__ingredient {
  display: flex;
}

.recipe__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.btn--tiny {
  border-radius: 2rem;
  border: none;
  background-color: var(--transparent);
}
.btn--round {
  border: none;
  background-color: var(--transparent);
}

.recipe__info-buttons {
  display: flex;
  justify-content: space-around;
}

.recipe__directions {
  box-shadow: 0px 0px 5px 0px #0000004a;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* *****************ADD RECIPE WINDOW*************** */
.add-recipe-window {
  z-index: 1111;
  position: absolute;
  /* max-width: 50rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2rem auto;
  background: var(--bookmark-color);
  padding: 2rem;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 0 2rem 4rem var(--box-shadow-color);
}

.hidden {
  display: none;
}

.btn--close-modal {
  float: right;
  background: var(--svg-color);
  border: none;
  color: var(--body-color);
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.upload__heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.upload {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem 1.5rem;
  align-items: center;
}

.upload label {
  text-align: right;
  font-weight: bold;
  font-size: 1.5rem;
}

.upload input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--body-color);
  width: 100%;
}

.upload input:focus {
  border-color: var(--svg-color);
  outline: none;
}

.upload__btn {
  grid-column: 2 / 3;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  /* bg an color is fixed for this set in both dark and light mode */
  background: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: start;
}
