/* ******************HEADER SECTION*************** */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
/* container 1 child */
.header {
  background-color: rgb(86, 149, 204);
  padding: 0.5rem;
  grid-column: 1/-1;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav__item {
  justify-items: center;
  flex: 1;
}

.message {
  background-color: red;
}
.bookmarkTab {
  position: absolute;
  right: 0rem;
  width: 21rem;
  background-color: rgb(192, 134, 208);
  padding: 1rem 1rem;
}
/* PREVIEW RESULT/BOOKMARK SECTION */
.bookmarks__list {
  list-style-type: none;
}
.preview__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.preview__data {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.preview__fig {
  width: 4rem;
  height: 4rem;
  background-color: gray;
  border-radius: 5rem;
}
.preview {
  padding-bottom: 1rem;
}

/* *********************SEARCH RESULTS SECTION**************** */
.search-results {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 90vh;
  gap: 1rem;
  background-color: rgba(128, 128, 128, 0.372);
}
.results {
  flex: 1;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1; */
}
.copyright {
  /* flex: 1; */
}

/*******************RECIPE VIEW SECTION***********************/
.recipe__img {
  width: 100%;
  background-size: cover;
  height: 30rem;
}
.recipe__fig {
  height: fit-content;
  background-color: blueviolet;
}
.recipe__details {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recipe__ingredient {
  display: flex;
}
.recipe__ingredients {
  background-color: cadetblue;
}
.recipe__directions {
  background-color: burlywood;
}
